{% extends 'gallery/base.html'%}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card" style="width: 15rem;">
                    <div class="card-header">
                    <h2>Categories</h2>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="{% url 'gallery'%}">All</a>
                        </li>
                        {% for category in categories %}
                        <li class="list-group-item">
                            <a href="{% url 'gallery'%}?category={{category.name}}">
                                {{category.name}}
                            </a>
                        </li>
                        {% endfor %}
                        
                        <a href="{% url 'add'%}" class="btn btn-primary btn-block btn-sm m-1">Add Photos</a>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">

                    {% for image in images %}
                        <div class="col-md-4">
                            <div class="card my-2">
                                <img class="gallery-image" src="{{image.image.url}}" alt="">
                                <div class="card-body">
                                    <small>Category: {{image.category.name}}</small>
                                </div>
                                <button type="button" class="btn btn-outline-primary btn-sm view-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    View 
                                </button>
                                <a href="{% url 'photo' image.id%}" class="btn btn-primary btn-sm m-1" href="">View <small>in new tab</small> </a>
                            </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <img class="image" src="{{image.image.url}}" alt="">
                                    <p>{{image.description}}</p>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                            </div>
                        </div>
                        {% empty %}
                        <h3>No photos....</h3>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
