{% extends 'gallery/base.html'%}
{% block content %}
<div class="row">
  {% for image in images %}
    <div class="col-md-4">
        <div class="card my-2">
            <img class="gallery-image" src="{{image.image.url}}" alt="">
            <div class="card-body">
                <small>Category: {{image.category.name}}</small>
            </div>
            <a href="{% url 'photo' image.id%}" class="btn btn-outline-primary btn-sm m-1" href="">View <small>in new tab</small> </a>
        </div>
    </div>
</div>
  {% endfor %}